<section class="game-attributes left">
  <h3>Theme: <%= @game.theme.name %></h3>

  <section class="players">
    <h3>Players:</h3>
    <ul>
    <% @game.users.each do |user| %>
      <li>
      <% if @game.end %>
        <%= link_to user.name.capitalize, board_url(@game.boards.find_by_user_id(user.id)) %>
      <% else %>
        <%= user.name.capitalize %>
      <% end %>
      </li>
    <% end %>
    </ul>
  </section>

  <% my_board = current_user.boards.find_by_game_id(@game.id) %>

  <div class="buttons">
    <%= button_to "My Board", board_url(my_board), method: :get, class: "button" %><br>
    <%= button_to "Quit Game", board_url(my_board), method: :delete, class: "button",
       data: { confirm: "Are you sure you wish to quit?\nThis is permanent!"}%>
  </div>

</section>

<section class="notifications right">
  <h3>Notifications</h3>
  <ul>
  <% @game.notifications.order("created_at").each do |notification| %>
    <li>
      <%= to_html(notification).html_safe %>
    </li>
  <% end %>
  </ul>
</section>


