<h2><%= @cell.phrase.body %></h2>
<div class="group">
  <%= link_to "Back to Game", game_url(@game), class: "button" %>
  <%= link_to "Back to My Board", board_url(@game.boards.find_by_user_id(current_user.id)), class: "button" %>
  <%= link_to "Back to This Board", board_url(@cell.board), class: "button" if @game_ended && !@is_owner %>
</div>

<section>
  <% if @photo_exists %>
    <h3>Status: <%= @photo.status.capitalize %></h3>
    <% if @is_owner %>
      <%= link_to "Discard Photo", photo_url(@photo), method: :delete, class: "button",
         data: { confirm: "Are you sure you wish to discard this photo?\nYou will lose any votes given for it!"}%><br>
    <% elsif @photo.pending_votes?(current_user) %>
      <%= render partial: "votes", locals: { photo: @photo } %>
    <% end %>

  <%= image_tag @photo.img.url(:big) %>

  <% else %>
    <h3>No photo currently selected for this cell</h3>
    <% unless @game_ended %>
      <% if @game.pending_votes(current_user).blank? %>
        <%= render partial: "upload", locals: { cell: @cell } %>
      <% else %>
        <%= flash.now[:alert] = "You cannot submit a photo until you have voted on all pending photos!" %>
      <% end %>
    <% end %>
  <% end %>
</section>
