<h2><%= @cell.phrase.body %></h2>
<%= link_to "Back to My Board", board_url(@cell.board.game.boards.find_by_user_id(current_user.id)) %>
<%= link_to "Back to This Board", board_url(@cell.board) if @cell.board.game.end %>

<section>
  <% if @photo %>
    <h3>Status: <%= @photo.status.capitalize %></h3>
    <% if @photo.cell.board.user == current_user %>
      <%= button_to "Discard Photo", photo_url(@photo), method: :delete,
         data: { confirm: "Are you sure you wish to discard this photo?\nYou will lose any votes given for it!"}%><br>
    <% elsif @photo.pending_votes?(current_user) %>
    <!-- These should really be partials -->
      <form action="<%= votes_url %>" method="post">
        <input type="hidden" name="authenticity_token"
          value="<%= form_authenticity_token %>">
        <input type="hidden" name="vote[photo_id]" value="<%= @photo.id %>">
        <input type="hidden" name="vote[user_id]" value="<%= current_user.id %>">
        <input type="hidden" name="vote[approve]" value="true">
        <input type="submit" value="Approve">
      </form>

      <form action="<%= votes_url %>" method="post">
        <input type="hidden" name="authenticity_token"
          value="<%= form_authenticity_token %>">
        <input type="hidden" name="vote[photo_id]" value="<%= @photo.id %>">
        <input type="hidden" name="vote[user_id]" value="<%= current_user.id %>">
        <input type="hidden" name="vote[approve]" value="false">
        <input type="submit" value="Reject">
      </form>

    <% end %>

  <%= image_tag @photo.img.url(:big) %>

  <% else %>
  <% unless @cell.board.game.pending_votes(current_user).empty? %>
    <alert>You cannot submit a photo until you have voted on all pending photos!</alert>
  <% end %>
    <form action="<%= photos_url %>" method="post" enctype="multipart/form-data">
      <input type="hidden" name="authenticity_token"
        value="<%= form_authenticity_token %>">

      <input type="hidden" name="photo[cell_id]" value="<%= @cell.id %>">

      <input type="file" name="photo[img]"><br>

      <input type="submit" value="Upload Photo">
    </form>
  <% end %>


</section>

