<h2><%= @cell.phrase.body %></h2>

<% if @photo %>
  <%= image_tag @photo.img.url(:big) %>
<% else %>
  <form action="<%= photos_url %>" method="post" enctype="multipart/form-data">
    <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">

    <input type="hidden" name="photo[cell_id]" value="<%= @cell.id %>">

    <input type="file" name="photo[img]">

    <input type="submit" value="Upload Photo">
  </form>
<% end %>