<h2><%= @cell.phrase.body %></h2>

<section>
  <% if @photo %>
    <%= button_to "Discard photo", photo_url(@photo), method: :delete if @photo.cell.board.user == current_user %>
    <%= image_tag @photo.img.url(:big) %>

    <h3>Status: <%= @photo.status.capitalize %></h3>
    <% if @photo.pending_votes?(current_user) %>
      <form action="<%= votes_url %>" method="post">
        <input type="hidden" name="authenticity_token"
          value="<%= form_authenticity_token %>">
        <input type="hidden" name="vote[photo_id]" value="<%= @photo.id %>">
        <input type="hidden" name="vote[user_id]" value="<%= current_user.id %>">
        <input type="hidden" name="vote[approve]" value="true">
        <input type="submit" value="Approve">
      </form>

      <form action="<%= votes_url %>" method="post">
        <input type="hidden" name="authenticity_token"
          value="<%= form_authenticity_token %>">
        <input type="hidden" name="vote[photo_id]" value="<%= @photo.id %>">
        <input type="hidden" name="vote[user_id]" value="<%= current_user.id %>">
        <input type="hidden" name="vote[approve]" value="false">
        <input type="submit" value="Reject">
      </form>

    <% end %>

  <% else %>
    <form action="<%= photos_url %>" method="post" enctype="multipart/form-data">
      <input type="hidden" name="authenticity_token"
        value="<%= form_authenticity_token %>">

      <input type="hidden" name="photo[cell_id]" value="<%= @cell.id %>">

      <input type="file" name="photo[img]"><br>

      <input type="submit" value="Upload Photo">
    </form>
  <% end %>

  <%= link_to "Back to Board", board_url(@cell.board) %>
</section>

